
body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}


body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}

header {
    background-color: #2a607c;
    color: #fff;
    text-align: right;
    padding: 1em 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: span 2;
    margin-bottom: 0; 
}

h1 {
    font-size: 2em;
}


nav {
    margin-top: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    transition: color 0.3s; 
}

nav a:hover {
    color: #d9dcd6;
}

.hero {
    position: top;
    overflow: hidden;
    height: 600px;
    grid-column: span 2; 
    margin-top: -20px;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    top: -50%;
}

.seo {
    color: #d9dcd6;
    font-weight: bold;
}


main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 150%;
    grid-column: 1; 
}


main section {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}


main section.show {
    opacity: 1;
    transform: translateX(0);
}

.service {
    background-color: #0072bb;
    color: #fff;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.service img {
    max-width: 20%;
    height: auto;
    float: left;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-right: 20px;
    
}

.service-content {
    width: 100%;
    float: left;
}

.service h2 {
    margin-bottom: 10px; 
}

.service p {
    margin-bottom: 0;
}

.benefits {
    background-color: #2589bd;
    border-radius: 10px;
    color: #ffffff;
    width: 35%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    height: auto;
    flex-direction: column;
    grid-column: 2;
}

.benefits-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefit {
    margin: 5px;
    text-align: center;
    margin-bottom: 5px;
}

.benefit img {
    max-width: 30%;
    height: auto;
    margin-bottom: 5px;
}

footer {
    background-color: #d9dcd6;
    color: #2a607c;
    text-align: center;
    padding: 10px 0;
    grid-column: span 2; 
}
